<div class="content">
  <app-spinner *ngIf="spinner"></app-spinner>
  <ng-container *ngFor="let price of prices">
    <app-price-card
      [id]="price.id || '-'"
      [price]="price.price || '-'"
      [highestDaily]="price.daily?.highest || '-'"
      [lowestDaily]="price.daily?.lowest || '-'"
      [highestWeekly]="price.weekly?.highest || '-'"
      [lowestWeekly]="price.weekly?.lowest || '-'"
    >
    </app-price-card>
  </ng-container>
</div>
