$header-bg-color: rgb(169, 231, 197);
$headr-color: rgba(10, 10, 10, 0.603);
.stock-app {
  background-color: $header-bg-color;
  height: 10vh;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  color: $headr-color;
}
