<div class="card card-size">
  <div
    class="card-body align-items"
    [ngStyle]="{ 'background-color': cardColor }"
  >
    <h5 class="card-title symbol-title">{{ id }}</h5>
    <p class="card-text" *ngIf="price !== '-'">{{ price }}</p>
    <app-spinner *ngIf="price === '-'"></app-spinner>

    <p class="card-text">{{ "daily high price : " + highestDaily }}</p>
    <p class="card-text">{{ "daily low price : " + lowestDaily }}</p>
    <p class="card-text hide-mobile-view">
      {{ "52 week high price : " + highestWeekly }}
    </p>
    <p class="card-text hide-mobile-view">
      {{ " 52 week low price : " + lowestWeekly }}
    </p>
    <app-toggle-button
      [id]="id"
      (outOfStock)="outOfStockdetection($event)"
    ></app-toggle-button>
  </div>
</div>
