$symbol-title-color: white;
.card-size {
  width: 12rem;
  margin: 1em;
}
.symbol-title {
  color: $symbol-title-color;
  font-weight: bold;
}
.align-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em;
  text-align: center;
}
@media (max-width: 400px) {
  .hide-mobile-view {
    display: none;
  }
}
