<label class="switch">
  <input
    type="checkbox"
    [checked]="disable"
    (click)="changeStockAvailability()"
  />
  <span class="slider round" [ngStyle]="{ 'background-color': color }">
    <span class="text-slider"></span>
  </span>
</label>
